.menu-item {
  width: 100%;
  height: 60px;
  color: transparent;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  font-size: 20px;
  text-decoration: none;
  /* white-space: pre; */
}

.menu-icon {
  margin-right: 5px;
}

.menu-item:first-child {
  margin-top: 5px; /* margin for first child */
}

.menu-container:hover {
  background: #f3fcc4; /* Цвет фона при наведении */
  color: rgb(0, 0, 0); /* Цвет текста при наведении */
}