tr:nth-child(2n) {
  background: #ebebeb;
  border: solid 1px rgb(0, 0, 0);
}
th {
  font-weight: bold;
  background: linear-gradient(to bottom, #fefcea, #dbe6d8);
  border: 1px solid #dddddd;
}
td {
  border: 1px solid #eee;
  text-align: center;
}

tr:hover:not(:first-child) {
  background: #f3fcc4; /* Цвет фона при наведении */
  color: rgb(0, 0, 0); /* Цвет текста при наведении */
}
tr.selectedRow {
  background: lightgreen;
}
