tr:nth-child(2n) {
  background: #ebebeb;
  border: solid 1px rgb(0, 0, 0);
}
th {
  font-weight: bold;
  background: linear-gradient(to bottom, #fefcea, #dbe6d8);
  border: 1px solid #dddddd;
}
td {
  border: 1px solid #eee;
  text-align: center;
}

tr:hover:not(:first-child) {
  background: #f3fcc4; /* Цвет фона при наведении */
  color: rgb(0, 0, 0); /* Цвет текста при наведении */
 }
tr.selectedRow {
  background: lightgreen;
}

 .title-modal{
    width: 100%;
    height: 50px;
    background-color: #8DA19B;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    font-weight: bold;
    justify-content:center;
 }

 .row-styles {
  width: 100%;
  height: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-left: 40px;
  box-sizing: border-box;
  margin-top: 4px;
};

.block-button{
  background-color: #8DA19B;
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 50px;
}

span{
  color: red;
}

.modal-button{
  display: flex;
  width: 80%;
  height: 40px;
  margin-top: 30px;
  padding-left: 40px;
}

.table-style{
  border-radius: 3px;
  border: 0.5px solid #87C9B6;
  table-layout: fixed;
  margin-top: -10px;
  overflow: scroll;
  font-size: 12px;
  cursor: pointer;
}

